html, body {
    background: #e3e3e3;
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.chord-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.chord {
    position: absolute;
    left: 8px;
}

.line {
    margin-top: 45px;
    position: absolute;
    left: 12px;
    height: 95%;
    width: 1px;
    background-color: black;
}